body {
	overflow-y: scroll;
	overflow-x: hidden !important;
	background: #ececec;
}

nav {
	background-color: #00796B;
}

.navbar.navbar-default {
	min-height: 0;
	border-radius: 0;
	color: black;
	font-size: 1em;
}


#primarynav {
	text-align: left;
	background: rgb(210, 212, 218); 
}

#primaryNavElts > li > a{
	border-right: 1px solid #000;
	padding-top: 3px;
	padding-bottom: 3px;
	color: black;
}

#uppernav {
	background: #00796B;
}

#primarynavbutton {
	float: left;
	left: 1em;
}

#header {
	background: #00796B;
}

#logoimage {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#secondarynav {
	background: #1d1d1d;
}

#secondarynav div ul li a {
	color: white;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0)
}

.leftpanel {
	list-style: circle;
	padding-left: 2em;
}

.leftpanel li a{ 
	color: #00796B;
}

.leftpanel li:hover {
	background: #ececec;
	color: #3E211B;
}

.panel-body p {
	color: #FF5722;
	font-weight: 700;
}

.panel-title a {
	color: #FF5722;
}

.list-group a {
	color: #00796B;
}



@media only screen and (min-width: 720px) {
	#mobileview {
		display: none;
	}
}

@media only screen and (max-width: 720px) {
	#deskview {
		display: none;
	}
}
