body {
	overflow-y: scroll;
	overflow-x: hidden !important;
}

nav {
	background-color: #00796B;
}

.navbar.navbar-default {
	min-height: 0;
	border-radius: 0;
	color: black;
	font-size: 1em;
}


#primarynav {
	text-align: left;
	background: rgb(210, 212, 218); 
}

#primaryNavElts > li > a{
	border-right: 1px solid #000;
	padding-top: 3px;
	padding-bottom: 3px;
	color: black;
}

#uppernav {
	background: #00796B;
}

#primarynavbutton {
	float: left;
	left: 1em;
}

#header {
	background: #00796B;
}

#logoimage {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#secondarynav {
	background: #1d1d1d;
}

#secondarynav div ul li a {
	color: white;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0)
}